<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556243944038-rlvovcu99kc7pl9qdusgvmla2uudllj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556243944038-rlvovcu99kc7pl9qdusgvmla2uudllj6</string>
	<key>API_KEY</key>
	<string>AIzaSyCIb8i0JqjuH1--Z2527aIAArZGnNhR-dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>556243944038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastTrivia</string>
	<key>PROJECT_ID</key>
	<string>fast-trivia-954a0</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-trivia-954a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556243944038:ios:77bc3a2ad23d6930df23a7</string>
</dict>
</plist>